{% extends 'layout.html' %}

{% block main %}

    <h1 style="text-align: center;">Contact Me</h1>
        <p>If you want to make review request, send an email to me at
            <a href="mailto:temifash93@gmail.com">temifash93@gmail.com</a>,
            <b>don't forget to include these in your request</b>
            <ul>
                <li>Title of your book</li>
                <li>If your book is part of a series please include the 
                    name of the series.
                </li>
                <li>State if it is an ARC or a published book</li>
            </ul>
        </p>
        <div>
            <h2>For more inquiries </h2>
            <p>chat with me on whattapp <b>+2348162236595</b></p>
            <p><b>Email:</b><a href="mailto:temifash93@gmail.com">temifash93@gmail.com</a></p>
        </div>


{% endblock main %}
    