{% extends 'layout.html' %}

{% block main %}
    

    <h1 style="text-align: center;">A Trail of Sorcerers Review</h1>
        <h3 style="text-align: center; ">Spoiler Review: A Trail of Sorcerers By Elise Kova</h3>
        <p>Title: A Trail of Sorcerers</p>
        <p>Trail of Sorcerers #1</p>
        <p>Author: Elise Kova</p>
        <p>Publication Date: March 4, 2021</p>
        <p>Rating: 4/5</p>
        <h3 style="text-align: center;">Review</h3>
        <p><i>Ice is in her blood.</i></p>

        <p>Eighteen-year-old Water runner Eira Landan lives her life in the shadows
         — the shadow of her older brother, of her magic's whispers, and of the 
         person she accidentally killed. She's the most unwanted apprentice in 
         the Tower of Sorcerers until the day she decides to step out and compete
         for a spot in the Tournament of Five Kingdoms.</p>
        
        <p>Pitted against the best sorcerers in the Empire, Eira fights to be 
           one of four champions. Excelling in the trials has its rewards. 
           She's invited to the royal court with the "Prince of the Tower",
           discovers her rare talent for forbidden magic, and at midnight,
           Eira secretly meets with a handsome elfin ambassador.</p>

        <p>But, Eira soon learns, no reward is without risk. As she comes
           into the spotlight, so too do the skeletons of a past she hadn't
           even realized was haunting her. </p>

         <p>Eira went into the trials ready for a fight. Ready to win.
            She wasn't ready for what it would cost her. No one expected
            the candidates might not make it out with their lives.</p>
        <p>Thanks for reading!</p>

{% endblock main %}

