{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href=" {% static 'css/style.css' %}">
</head>
<body>
    
    <header>
        <nav>
            <span>FUNREAD</span>
            <ul>
                <li><a href="{% url 'homepage' %}">HOME</a></li>
                <li><a href="{% url 'about' %}">ABOUT US</a></li>
                <li><a href="{% url 'contact' %}">CONTACT US</a></li>
                <li><a href="{% url 'blogHome' %}">MY BLOG</a></li>
                <li><a href="{% url 'blogNew' %}">ADD BLOG</a></li>
                {% comment %} <li><a href="{% url 'blogDetails' %}">My blog details</a></li> {% endcomment %}
            </ul>
            <button><a href="{% url 'userLogin' %}">Login</a></button>
        </nav>
    </header>

    <main>
        {% block main %}
        
        {% endblock main %}
    </main>

    <footer>TeeFash Review. &copy; 2025. All right reserved</footer>

</body>
</html>

